.container {
    flex-direction: column;
    width: 500px; 
    margin: auto;
}





.title {
    color: rebeccapurple;
        
}  


.quote {
    color: seagreen;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.name {
    color: pink;
    padding-bottom: 50px;
    padding-left: 350px;
    
    
}

.button {
    
    border: 1px solid;
    border-radius: 100px;
    padding: 10px 20px;
    background: rgba(61, 231, 19, 0.867);
    outline: none;
    margin: 2px;
    flex: 1;
    min-width: 80px;
    padding-left: 200px;
    padding-right: 200px ;
    
}

h4{
    padding-top: 200px;
    padding-left: 150px;
}
