/* .container {
    flex-direction: column;
    width: 500px; 
    margin: auto
} */



.title {
    color: rebeccapurple
        
}  


.quote {
    color: seagreen;
} 
.name {
    color: rebeccapurple,
    
}

.button {
    flex-direction: column;
    border: 1px solid;
    border-radius: 100px;
    padding: 10px 20px;
    background: rgba(61, 231, 19, 0.867);
    outline: none;
    margin: 2px;
    flex: 1;
    min-width: 80px;
}

